<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="JobBoard.testng">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        
    </listeners>
    <test name="JobBoard.testng">
        <parameter name="adminusername" value="root"/>
        <parameter name="password" value="pa$$w0rd"/>
        <parameter name="username" value="MTD123"/>
        <parameter name="email" value="abcd2@EXAMPLE.COM"/>
        <parameter name="firstname" value="testng"/>
        <parameter name="lastname" value="ng"/>
        <parameter name="url" value="www.test.com"/>
        <parameter name="search" value="MTD123"/>
        <classes>
            <class name="JobBoard.testng.Pactivity_14"/>
        </classes>
    </test>
</suite>